.video-queue {
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 3px;
    
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #080817;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba($color: #7775E1, $alpha: 0.8);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgba($color: #7775E1, $alpha: 1);
    }

    &-item {
      display: block;
    }
  }
  &__icon {
    color: #fff;
    font-size: 30px;
    animation: moveIcon 1.5s infinite;
    &-wrap {
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@keyframes moveIcon {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}
