.video-controller {
  &__wrap {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 300px 300px;
  }
  &__controls {
    display: flex;
    justify-content: center;
  }
  &__volume {
    display: flex;
    align-items: center;
  }
  &__text {
    display: block;
    margin-right: 15px;
    font-size: 14px;
    color: #fff;
  }
  &__button {
    margin: 1px;
    border-radius: 3px;
    line-height: 1;
    &.disable {
      cursor: unset;
      opacity: 0.3;
      &:hover {
        background-color: #353377;
      }
    }
    &:first-child {
      border-radius: 6px 3px 3px 6px;
    }
    &:last-child {
      border-radius: 3px 6px 6px 3px;
    }
  }
  &__icon {
    color: #fff;
    margin-right: 15px;
    min-width: 30px;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 150px; /* Full-width */
  height: 3px; /* Specified height */
  background: #353377; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  &:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #7775e1; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 3px;
  }
  &::-moz-range-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #7775e1; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 3px;
  }
}
